{% extends 'nav.html' %} {% load static %} {% block page_title %}Polls List{% endblock page_title %} 
{% block head_extension %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% endblock head_extension %}
{% block main %}
<h1 class="">Polls List</h1>
{% if latest_question_list %}
<ul>
  {% for question in latest_question_list %}
  <li><a href={% url 'polls:detail' question.id %}>{{ question.question_text }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %} {% endblock main %}
